.experience{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.experience li{
    margin: .5rem 2.5rem;
}

.experience i{
    margin-right: 5px;
}