
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.header::after{
    content: '';
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/dots.svg);
    position: absolute;
    right: 1rem;
    top: .5rem;
}

.header .photo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.header .title{
    text-align: center;
}

.information{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.information p{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: .5rem;
}

.information p i{
    color: #a70ba7;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
}

.information #email{
    color: #fff;
    text-decoration: none;
}
.information #email:hover{
    text-decoration: underline;
}

@media only screen and (min-width: 768px){
    .header{
        display: grid;
        grid-template-areas: 
        "photo title"
        "photo information";
    }

    .header .photo{
        grid-area: photo;
        margin: 0 auto;
    }

    .header .title{
        width: 200px;
        text-align: left;
        grid-area: title;
    }

    .header .information{
        grid-area: information;
    }
}
