.language{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.language li{
    padding: 1rem 2.5rem;
    cursor: pointer;
}

.language li i{
    font-weight: 700;
    padding-right: 5px;
}